[Desktop Entry]
Type=Application
Name=Polybar
Comment=Lightweight top bar with services
Exec=~/.config/polybar/launch.sh
X-GNOME-Autostart-enabled=true
